/* The Main Container of the base class */
.responsive {
	padding: 10vh 0;
}
/* Small devices (sm) */
@media (min-width: 576px) {
    .responsive {
        max-width: 540px;
    }
}
  
/* Medium devices (md) */
@media (min-width: 768px) {
    .responsive {
        max-width: 720px;
    }
}
  
/* Large devices (lg) */
@media (min-width: 992px) {
    .responsive {
        max-width: 960px;
    }
}



/* The items passed to the home page through flask */
.items {
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 70px;
}

.item {
	width:250px;
	padding: 12px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.item:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

/* To make the images same size */
.pic {
	width:150px;
	height: 150px;
}

/* The Money Component */
.right-item {
	float:right;
	color:green;
}

.checked {
	color: orange;
}
